

/* ESTILOS PERSONALIZADOS DE LA APLCIACION */

.show1 { /*Contenedor principal en donde se mostrara toda la parte dinamica*/
  /*padding-right: 15px;
  padding-left: 15px;*/
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  height: 601px;
  background-image: url("fondo_soles_grises.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-left: -15px;

  /*margin-top: 30px;*/
 }


.show{
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:0px;
	color:inherit;
	background-color:#eee;
	min-height: 500px;
  	background-image: url("../../assets/img/fondo_soles_grises.png");
  	background-repeat: no-repeat;
  	background-position: bottom left;
}

.show .h1,.show h1{
	color:inherit
}

.show p{
	margin-bottom:15px;
	font-size:21px;/*font-weight:200*/
	}

.show>hr{
	border-top-color:#d5d5d5
	}

.container .show,.container-fluid .show{
	padding-right:15px;
	padding-left:15px;
	border-radius:6px
	}

.show .container{
	max-width:100%;
	}

@media screen and (min-width:768px){
	.show{
		padding-top:0px; /*48px*/
		padding-bottom:0px /*48px*/
	}
	.container .show,.container-fluid .show{
		padding-right:10px;padding-left:10px
	}
	.show .h1,.show h1{
		font-size:63px
	}
}

#pie {
	padding-top: 60px;
	padding-bottom: 60px;
	background: white;
}


.col-lg-4-fondo { /*Estilo personalizado para el footer*/
  font-family: Conv_Futura-T-OT-Book;
  font-size: 1.2em;
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 130px;
  background-image:url("../../assets/img/ceiba_blanca_pequeña.png");
  background-size: 100px 100px;
  background-position: 0px 10px;
  background-repeat: no-repeat;
  line-height: normal;




}

/*Clase para el div de los datos generales de la solicidtud*/
.datos{
	text-align:left;
	color:#7b7d80;
	border: 2px solid #7b7d80;
	border-radius: 8px;
	padding:5px;
}

.listado {
	text-align:left;
	color:#7b7d80;
	margin-top:20px;
	border: 2px solid #7b7d80;
	border-radius: 8px;
	padding:5px;
}

/*Clase para el div de los datos generales de la solicidtud*/
.encabezado{
	margin-top:30px;
	font-family:Conv_roundedelegance;
	line-height: normal;
	vertical-align: center;
	border-radius: 6px;
	padding-top:1%;
}
