/*  ESTILOS PERSONALIZADOS
    Sistema de cobranza.
    18/05/2017. Ismael
*/

body {
  /*min-height: 2000px;*/
  padding-top: 70px;
}

.show{ /*Contenedor principal en donde se mostrará toda la parte dinamica*/
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:0px;
	color:inherit;
	background-color:#eee;
	min-height: 500px;
  	background-image: url("../../assets/img/fondo_soles_grises.png");
  	background-repeat: no-repeat;
  	background-position: bottom left;
}

.show .h1,.show h1{
	color:inherit
}

.show p{
	margin-bottom:15px;
	font-size:21px;/*font-weight:200*/
	}

.show>hr{
	border-top-color:#d5d5d5
	}

.container .show,.container-fluid .show{
	padding-right:15px;
	padding-left:15px;
	border-radius:6px
	}

.show .container{
	max-width:100%;
	}

@media screen and (min-width:768px){
	.show{
		padding-top:.5px; /*48px*/
		padding-bottom:0px; /*48px*/
                    margin-top:20px;
	}
	.container .show,.container-fluid .show{
		padding-right:10px;padding-left:10px;
                   
	}
	.show .h1,.show h1{
		font-size:63px
	}
}/* find de "show" (contendor principal)*/

#pie {
	padding-top: 60px;
	padding-bottom: 60px;
	background: white;
} 


.col-lg-4-fondo { /*Estilo personalizado para el footer*/
  font-family: Conv_Futura-T-OT-Book;
  font-size: 1.2em;
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 130px;
  background-image:url("../../assets/img/ceiba_blanca_pequeña.png");
  background-size: 100px 100px;
  background-position: 0px 10px;
  background-repeat: no-repeat;
  line-height: normal;
} /*Fin de tooteer*/


.datos{/*Clase para el div de los datos generales de la solicidtud*/
	text-align:left;
	color:#7b7d80;
	border: 2px solid #7b7d80;
	border-radius: 8px;
	padding:5px;
}

.listado {
	text-align:left;
	color:#7b7d80;
	margin-top:20px;
	border: 2px solid #7b7d80;
	border-radius: 8px;
	padding:5px;
}

/*Clase para el div de los datos generales de la solicidtud*/
.encabezado{
	margin-top:30px;
	font-family:Conv_roundedelegance;
	line-height: normal;
	vertical-align: center;
	border-radius: 6px;
	/*padding-top:0%;*/
}/*Fin clase encabezado*/

    /*Clase btn-tabla para utilizarse en los enlaces (iconos) de las tablas*/
    .btn-tabla{ 
        width:22px;
        height:22px;
        cursor:pointer;
        margin-right: 5px;

        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    .btn-tabla:hover{
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }/*Fin de la clase bnt_tabla*/
    
    /*Clase btn-catalogo para ser usados en los enlaces (botones con imagenes)*/
    .btn-catalogo{
        width:50px;       
        background-color: #459cc1;
        /*border: 1px solid #b6b2b2;*/
        text-align: center;
        margin-left: 5px;
        padding:5px;
        cursor:pointer;
        float:left;
        opacity: 0.5;
        
    }
    .btn-catalogo:hover{opacity: 1;}
    .btn-catalogo img{width: 23px;height: 23px;}
    .btn-catalogo p{
        font-size:10px;
        text-align: center;
        color: #000;
    }/*Fin de la clase btn-catalogo*/
    
    /*Clase para el div de los datos generales de la solicidtud*/
.encabezado{
	margin-top:10px;
        font-family:Conv_roundedelegance;
	line-height: normal;
	/*vertical-align: center;*/
	border-radius: 6px;
	padding-top:1%;
        padding-left: 5px;
        text-align: center;
}/*Fin de la clase encabezado*/